<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- locals.title %></title>
  <meta name="description" content="<%- locals.description %>">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav>
  <div class="header">
  <h1><a href="/dashboard">Job Tracker</a></h1>
  </div>
</nav>
