<%- include('partials/header'); -%>

<div class="indexBody">
    <div class="indexContainer">
        <h1>Welcome to Jobacy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, explicabo ipsum maxime minima porro provident quas vel velit. Dicta ipsum labore omnis? Harum ipsam placeat sapiente. Et, maiores, vero.</p>
        <div class="buttons">
            <div class="login"><a href="/login">Log In</a></div>
            <div class="signup"><a href="/signup">Sign Up</a></div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>